/*colors*/
$main: #283645;
$darkmain: #1d2631;
$gray: #485461;
$white: #ffffff;
$black: #000000;
$pink: #d22856;

/*font*/
$font: "Open Sans", "Tahoma", sans-serif;
$font-size: 15px;
$line-height: 30px;

/*size*/
$tablet: 768px;
$desktop: 1050px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
